#all{
  position: absolute;
  margin: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  text-align: center;
}
a{
  display:block;
  text-decoration: none;
}
#discovery-top-bar{
  position: relative;
  background-color: black;
  width: 100%;
  height: 64px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 30px;
  clear: both;
}
#discovery-top-bar-content{
  width: 800px;
  margin: 0px auto;
  padding: 0px;
}
#search-bar{
  background-color: white;
  position: relative;
  margin: 0px;
  width: 180px;
  height: 32px;
  border-radius: 20px;
  top: -2px;
  display: inline-block;
  border: none;
  outline: none;
}
.search-input{
  position: relative;
  top: 15%;
  left: 15px;
  width: 120px;
  z-index: 99;
  border: none;
  background-color: transparent;
}
#search{
  position: relative;
  left: 5px;
  top: 27%;
  float: left;
}
.settingsandothers{
  position: relative;
  display: inline;
  width: 56px;
  height: 64px;
  margin: 0px;
  padding: 0px;
  top: 20px;
  float: left;
}
.allcontent{
  width: 1360px;
  display: block;
  margin: 0 auto;
  clear: both;
  text-align: center;
}

.member_article_list{
  width: 1360px;
  position: relative;
  margin: 30px auto;
}
.member_list{
  float: left;
  margin: 0px;
  padding: 10px;
  width: 300px;
  border: 1px solid black;
}
.member-img{
  margin: 0px;
  box-shadow: 0px 1px 3px 0px;
  height: 50px;
  width: 50px;
  clear: both;
}
.member-img-size{
  height: 50px;
  width: 50px;
}
.member-content-triangle{
  z-index: -50;
  width: 0px;
  height: 0px;
  margin-left: -20px;
  box-shadow: 0px -1px 0px 0px; 
  border: 20px solid transparent;
  border-top: 20px solid #fff;
}
.member-content{
  float: right;
  background-color: #fff;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px 0px;
  width: 670px;
  height: 200px;
}