body{
    padding: 0px 0px 0px 210px;
  }
  a{
    text-decoration: none;
    display: block;
    margin: 0;
    color: #fff;
  }
  .memberbox{
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    margin: 0;
    background-color: #111111;
    text-align: left;
  }
  .member-information{
    display: block;
    background-color: #000;
    margin-bottom: 50px;
    text-align: center;
  }
  .member-information>a,h1,div{
    display: block;
    text-align: center;
    margin: 10px auto;
    padding: 5px;
    color: #fff;
  }
  .bottom-bar{
    list-style: none;
    color: #fff;
  }
  .postbox{
    box-shadow: 0px 1px 3px 0px;
    margin: 50px 0;
    padding: 0;
  }
  .posts{
    margin: 0 auto;
    text-align: center;
  }
  .post{
    color: #000;
    width: 800px;
    border-bottom: 2px solid #f7f7f7;
    padding: 0px auto 50px auto;
    margin: 0px auto 50px auto;
  }
  .bottom-bar>li{
    margin: 10px 0px;
  }
  .footer{
    height: 45px;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #7f7f7f;
  }