#all{
  position: absolute;
  margin: 0px auto;
  width: 100%;
  height: 100%;
  padding: 0px;
  text-align: center;
}

#mylofter-top-bar{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 64px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 30px;
  }
  #mylofter-top-bar-content{
    width: 800px;
    margin: 0px auto;
    padding: 0px;
  }
  #search-bar{
    background-color: white;
    position: relative;
    margin: 0px;
    width: 180px;
    height: 32px;
    border-radius: 20px;
    top: -2px;
    display: inline-block;
    border: none;
    outline: none;
  }
  .search-input{
    position: relative;
    top: 15%;
    left: 15px;
    width: 120px;
    z-index: 99;
    border: none;
    background-color: transparent;
  }
  #search{
    position: relative;
    left: 5px;
    top: 27%;
    float: left;
  }
  .settingsandothers{
    position: relative;
    display: inline;
    width: 56px;
    height: 64px;
    margin: 0px;
    padding: 0px;
    top: 20px;
    float: left;
  }
#allcontent{
  position: relative;
  top: 75px;
  width: 80%;
  margin: 0px auto;
  clear: both;
  text-align: center;
}
  #mylofter-main-bar{
    float: left;
    padding: 0px;
    width: 800px;
    text-align: left;
  }
  #publish-bar{
    border: black;
    background-color: white;
    position: relative;
    width: 750px;
    height: 120px;
    padding: 0px;
    box-shadow: 0px 1px 3px 0px;
    list-style: none;
    display: inline-block;
    text-align: left;
  }
  .publishlink-list{
    text-align: center;
    display: inline;
    width: 800px;
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  .publishlink-list li{
    text-align: center;
    display: inline-block;
    width: 13%;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0px;
    list-style: none;
  }
  a.publishlink{
    display: inline;
    height: 110px;
    width: 110px;
    text-decoration: none;
    text-align:center;
    color: #477979;
  }
  #user{
      float: left;
      height: 110px;
      width: 20px;
      margin-right: 100px; ;
  }
  #mylofter-side-bar{
    float: left;
    text-align: left;
    margin: 0px;
    width: 230px;
    padding: 0px;
    display: block;
  }
  #mylofter-name-bar{
    position: relative;
    width: 230px;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
    background-color: #f3f3f3;
    box-shadow: 0px 1px 3px 0px;
  }
  #namebox{
    float: none;
    border: thin solid #d8d8d8;
    width: 228px;
    margin-right: 0px;
    padding-right: 0px;
    display: inline-block;
  }
  .huakuai{
    float: none;
    position: relative;
    left: 5px;
    display: inline-block;
    width: 40px;
    margin: 0px;
  }
  #interestnum{
    float: none;
    border: thin solid #d8d8d8;
    height: 100px;
  }
  #nickname{
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 5px;
    display: inline-block;
    margin: 0px;
    border-left: thin solid #d8d8d8;
    border-right: thin solid #d8d8d8;
  }
  .Nickname{
    margin: 0px;
    padding: 0px;
  }
  .textstyle1{
    position: relative;
    text-align: center;
    margin: 0px;
    top:5%;
  }
  .textstyle2{
    position:relative;
    text-align: center; 
    top:8%;
  }

  
  #mylofter-middle-bar{
    margin-top: 20px;
    padding: 0px;
    border:thin solid #d8d8d8;
    background-color: #f3f3f3;
    box-shadow: 0px 1px 3px 0px;
  }
  #mylofter-middle-bar a{
    color: black;
  }
  #mylofter-middle-bar-creater{
    position: relative;
    top: 0px;
    height: 40px;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    display: block;
  }
  #mylofter-middle-bar-creater-p{
    position: relative;
    top: 7px;
    padding: 0px;
    margin: 0px;
    margin-left: 5px;
    margin-top: 5px;
    width: 160px;
    font-weight: bold;
  }
  #listbox{
    margin: 0px;
    padding: 0px;
  }
  .listitems{
    margin: 0px;
    padding: 0px;
    height: 40px;
  }
  .list_link{
    position: relative;
    top: 8px;
    text-decoration: none;
    margin-left: 20px;
    margin-bottom: 10px;
    display: block;
  }
  #list5{
    box-shadow: 0px 3px 2px -2px;
    margin: 0px;
    border-top: 2px transparent;
    padding: 0px;
  }
  .line{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 0px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #fff;
  }
  .mylofter-banner-bar{
    text-decoration: none;
    display: block;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    height: 46px;
    width: 230px;
    background-image: url(https://l.bst.126.net/rsc/img/daren_plan.png);
  }
  #mylofter-img-bar{
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    height: 200px;
    width: 230px;
  }
  #mylofter-img-bar-link{
    display: block;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    height: 200px;
    width: 230px;
    box-shadow: 0px 1px 3px 0px;
    color: black;
  }
  #mylofter-download-bar{
    background-color: #f3f3f3;
    box-shadow: 0px 1px 3px 0px;
    border:thin solid #d8d8d8;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
  }
  #mylofter-QRcode-bar{
    padding: 15px;
    padding-bottom: 5px;
  }
  .QRcode{
    margin: 8px 0px;
    background-color: #fff;
  }
  .QRcode-img{
    position: relative;
    top: 5px;
    height: 85px;
    width: 85px;
  }
  .QRcode-information{
    position: relative;
    bottom: 6px;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 90px;
  }

  .member-article-list{
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 750px;
  }
  .member-list{
    position: relative;
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
  }
  .member-img{
    float: left;
    margin: 0px;
    margin-right: 5px;
    box-shadow: 0px 1px 3px 0px;
    height: 50px;
    width: 50px;
    clear: both;
  }
  .member-img-size{
    height: 50px;
    width: 50px;
  }
  .member-content-triangle{
    z-index: -50;
    width: 0px;
    height: 0px;
    margin-left: -20px;
    box-shadow: 0px -1px 0px 0px; 
    border: 20px solid transparent;
    border-top: 20px solid #fff;
  }
  .member-content{
    float: right;
    background-color: #fff;
    margin-bottom: 30px;
    box-shadow: 0px 1px 3px 0px;
    width: 670px;
    height: 200px;
  }