body{
    background-color: #dfdfe1;
  }
  a{
    text-decoration: none;
    color: #000;
    display: block;
    margin: 0;
  }
  .memberbox{
    width: 700px;
    margin: 30px auto;
    box-shadow: 0px 1px 3px 0px;
    background-color: #fff;
  }
  .member-information{
    display: inline;

  }
  .member-information>a,h1,div{
    display: block;
    text-align: left;
    margin: 10px 5px 10px 0px;
  }
  .bottom-bar{
    list-style: none;

  }
  .postbox{
    width: 690px;
    box-shadow: 0px 1px 3px 0px;
    margin: 30px auto;
    padding: 5px;
    background-color: #fff;
  }
  .post{
    color: #000;
    width: 800px;
    border-bottom: 2px solid #f7f7f7;
    padding: 0px auto 50px auto;
    margin: 0px auto 50px auto;
  }
  .footer{
    height: 45px;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 12px;
  }